body {
	background-image:url('../img/bg_pattern_transparentStripes.png');
	background-color:#EAF0F0;
	font-size: 20px;
	padding-top: 0;
}

.address {
	font-size: .9em;
}

.affix {
	top:0;
	width:100%;
	z-index: 100000;
}

#banner {
	background-color: #EAF0F0;
	height: 10em;
	padding: 0;
}

.btn-default {
	background-color: #F7D57E;
	border: 0;
	border-radius: .5em;
	clear: both;
	color: #8f6d17;
	display: block;
	float: right;
	font-size: 1em;
	margin: 2em 0;
	padding: .7em;
	text-align: center;
  	text-shadow: 1px 1px 1px rgba(251, 232, 183, 0.6);
	width: 26%;
}

.btn-default:hover {
	background-color: #F07F43;
	color: #893d15;
	text-shadow: 1px 1px 1px rgba(248, 184, 149, 0.4);
	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-ms-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
}

.dayOfTheWeek {
	float: left;
	font-size: .9em;
	text-align: right;
	width: 45%;
}

.dropdown-menu li a {
	font-size: 1.3em;
}

footer {
	background: #F07F43;
	height: 3em;
	font-size: .8em;
	padding: 1em 0;
	text-align: center;
}

#hoursContainer{
	background-color: rgba(251, 251, 244, 0.9); /* Color white with alpha 0.9*/
	border: 5px solid #F7D57E;
	border-radius: .5em;
	float: right;
	padding: 1.3em;
	width: 26%;
}

.hoursOclock {
	float: left;
	font-size: .9em;
	margin: 0 0 0 1em;
	width: 46.5%;
}

.hoursRow {
	margin: auto;
	width: 100%;
}

i {
	margin-right: .3em;
	font-size: 1.2em;
}

#intro {
	background-image:url('http://placehold.it/1150x600');
	background-color:#cccccc;
	height:30em;
}

#locationHours {
	background-image:url('http://placehold.it/1150x600&text=Map');
	background-color:#cccccc;
	padding-right: 2em;
}

#menu {
	background: #C5DADB;
}

.navbar-default {
	background: rgba(251, 251, 244, 0.9);
	border-top: 6px solid #F7D57E;
	border-bottom: 5px solid #F07F43;
}

nav li {
	font-size: .8em;
}

.pTagline {
	color: rgba(140, 196, 196, 0.3);
	font-family: 'Fjalla One', sans-serif;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
}

#intro, #menu, #locationHours, #shop {
	height: 30em;
	padding: 3em 0;
	overflow: hidden;
}

#shop {
	background: #779035;
}

span {
	float: right;
}

.spanSmall {
	float: none;
	font-size: .6em;
}

ul {
	list-style: none
}
